# =========================================
# JetBrains IDEs (PyCharm, IntelliJ)
# =========================================
.idea/
# =========================================
# Python 虚拟环境
# =========================================
# 虚拟环境包含了所有的依赖包，体积很大，而且每个成员都会自己创建

.venv/
venv/
env/
# =========================================
# Python 缓存文件和编译文件
# =========================================

__pycache__/
*.pyc
*.pyo
*.pyd
# =========================================
# 其他常见的 Python 忽略项
# =========================================
*.egg-info/
.eggs/
dist/
build/
*.egg
.pytest_cache/
.coverage
htmlcov/
*.log